services:
  - type: web
    name: speaking-eval-api
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: backend/Dockerfile
    region: oregon
    healthCheckPath: /
    envVars: []

  - type: web
    name: speaking-eval-web
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: frontend/Dockerfile
    region: oregon
    envVars:
      - key: API_URL
        value: "https://beltspeakingaiv2-web.onrender.com"
