fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
soundfile==0.12.1
numpy==2.1.1
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
requests==2.32.3
librosa
torch
python-multipart
openai>=1.0.0
tiktoken~=0.7.0
